@import "../../../../assets/scss/imports/variables";

button {
  background: none;
  border: 2px solid $white;
  border-radius: 6px;
  padding: 1rem 2rem;
}

.sm {
  width: 5rem;
}

.md {
  width: 7rem;
}

.lg {
  width: 10rem;
}

.auto {
  width: auto;
}
