@import "../../../../assets/scss/imports/variables";

button {
  border: 2px solid $black;
  border-radius: 6px;
  color: $black;
  background-color: $white;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color .3s;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.sm {
  width: 5rem;
}

.md {
  width: 7rem;
}

.lg {
  width: 10rem;
}

.auto {
  width: auto;
}
